@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .francaise {
    display: contents;
  }
  .delice-gout {
    display: contents;
  }
  .note-enchantée {
    display: contents;
  }
  .palette-gout {
    display: contents;
  }
}

.btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  width: 50%;
  padding: 2px;
  margin: 20px auto;
  border: 0.1px solid white;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.3rem 0.5rem #dfdcdc;
          box-shadow: 0 0.3rem 0.5rem #dfdcdc;
}

.btn:hover .btn__bg {
  opacity: 1;
}

.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.btn p {
  text-align: center;
  color: white;
  font-size: 1em;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.plat__heading {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 10px;
}

.plat__heading--bigger {
  line-height: 1.3em;
  margin-bottom: -5px;
}

.plat__garniture {
  font-size: 0.9em;
  font-weight: 100;
}

.plat__prix {
  margin-right: -47px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.logo img {
  width: 40%;
}

.logo i {
  margin-left: 20px;
  margin-right: 75px;
  color: black;
}

.img-header {
  width: 100%;
  margin-top: 20px;
  z-index: 1;
}

footer {
  background-color: rgba(5, 5, 5, 0.8);
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer a, footer i, .ohmyfood {
  color: white;
}

footer p {
  margin-top: 7px;
  margin-bottom: 7px;
}

footer i {
  margin-right: 15px;
  font-size: 0.8em;
}

.fa-hands-helping {
  font-size: 0.7em;
  margin-right: 12px;
}

.ohmyfood {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2em;
}

.contact {
  margin-top: 12px;
}

.main {
  background-color: #f8f8f8;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  width: 100%;
  margin-top: -50px;
  position: relative;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.fa-heart {
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
}

.fa-heart:active, .fa-heart:hover {
  color: #9356DC;
  -webkit-animation: scaleHeart .6s ease-in;
          animation: scaleHeart .6s ease-in;
}

@-webkit-keyframes scaleHeart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleHeart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header-headings {
  font-family: 'shrikhand', cursive;
  font-size: 1.7em;
  font-weight: 300;
}

.menu {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.menu__heading {
  font-size: 1.1em;
  font-weight: 200;
  font-stretch: extra-condensed;
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: 5px;
  margin-bottom: 20px;
  position: relative;
}

.menu__heading::after {
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #99E2D0;
  content: "";
  bottom: -3.5px;
  left: 0;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  cursor: pointer;
  line-height: 0.5em;
  margin: 0;
  background-color: white;
  padding-left: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  overflow: hidden;
}

.menu__items:active .anim-confirmation {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 2s;
  transition: 2s;
}

.menu__items:active .plat__prix {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 2s;
  transition: 2s;
}

.anim-confirmation {
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
}

.dish-confirmation {
  width: 65px;
  height: 68px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}

.dish-confirmation--bigger {
  height: 90px;
}

.fa-check-circle {
  color: white;
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 1.6em;
}

.fa-check-circle--translate {
  top: 33px;
}

@-webkit-keyframes loadingMenuItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingMenuItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner-loading {
  border: 20px solid #dddddd;
  border-radius: 50%;
  border-top-color: #99E2D0;
  border-bottom-color: #FF79DA;
  border-left-color: #9356DC;
  border-right-color: #9356DC;
  width: 150px;
  height: 150px;
  -webkit-animation: spinner 3s linear;
          animation: spinner 3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: wait;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#content {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation: content 3s;
          animation: content 3s;
}

@-webkit-keyframes content {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes content {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* logo */
.logo-home {
  -webkit-box-shadow: 0 0.15rem 0.5rem #d1d0d0;
          box-shadow: 0 0.15rem 0.5rem #d1d0d0;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.logo-home img {
  width: 50%;
}

/* location */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 10px;
  padding-bottom: 10px;
}

.location i {
  margin-right: 20px;
}

/* header */
.header {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.header p {
  width: 85%;
  margin: auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  line-height: 1.3em;
}

.header-headings-home {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1.2em;
}

.explorer-restaurant-container {
  background-color: rgba(5, 5, 5, 0.05);
  padding-top: 20px;
  padding-bottom: 30px;
}

/* button */
.btn-bigger-btn {
  width: 55%;
}

.btn p {
  text-align: center;
  color: white;
  font-size: 1em;
}

/* section fonctionnement */
.titre-section {
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 20px;
}

.fonctionnement-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.boutton-inactif-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 30px auto;
  background-color: rgba(5, 5, 5, 0.05);
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.6rem #dfdcdc;
          box-shadow: 0 0.2rem 0.6rem #dfdcdc;
  position: relative;
}

.boutton-inactif-wrapper p, .boutton-inactif-wrapper i {
  margin-left: 25px;
}

.boutton-inactif-wrapper i {
  width: 150%;
  opacity: 0.4;
}

.numero-list {
  background-color: #9356DC;
  color: white;
  font-size: 0.8em;
  padding: 8px 10px;
  border-radius: 50px;
  position: absolute;
  left: -35px;
}

/* main */
main {
  background-color: rgba(5, 5, 5, 0.05);
  padding-top: 30px;
  padding-bottom: 40px;
}

/* diaporama restaurant */
.diaporama-restaurant {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  position: relative;
}

.diaporama-restaurant img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.diaporama-restaurant__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 8px;
  padding-left: 15px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.diaporama-restaurant__name p {
  font-weight: 100;
}

.coeur-icon {
  margin-right: 15px;
  font-size: 1.4em;
}

.coeur-icon:hover {
  cursor: pointer;
  color: #9356DC;
}

.nouveau {
  color: green;
  background-color: #99E2D0;
  font-size: 0.8em;
  padding: 8px 13px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 12px;
}

/* footer */
footer {
  background-color: rgba(5, 5, 5, 0.8);
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer a, footer i, .ohmyfood {
  color: white;
}

footer p {
  margin-top: 7px;
  margin-bottom: 7px;
}

footer i {
  margin-right: 15px;
  font-size: 0.8em;
}

.fa-hands-helping {
  font-size: 0.7em;
  margin-right: 12px;
}

.ohmyfood {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2em;
}

.contact {
  margin-top: 12px;
}
/*# sourceMappingURL=main.css.map */