@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* Bouton */
.btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  width: 185px;
  margin: 20px auto;
  border: 0.1px solid white;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 230px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .btn {
    width: 260px;
  }
}

.btn--bigger {
  width: 210px;
}

@media screen and (min-width: 768px) {
  .btn--bigger {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .btn--bigger {
    width: 280px;
  }
}

.btn:active, .btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.6rem 0.4rem #dfdcdc;
          box-shadow: 0 0.6rem 0.4rem #dfdcdc;
  opacity: 0.7;
}

.btn p {
  text-align: center;
  color: white;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .btn p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .btn--bigger p {
    font-size: 1.3em;
  }
}

/* Heart */
.heart {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.heart--bigger {
  width: 40px;
  height: 40px;
}

.heart path {
  fill: white;
  stroke: #000;
  stroke-width: 6px;
  -webkit-transition: 1s;
  transition: 1s;
}

.heart:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.heart:active path {
  fill: #9356DC;
}

/* Animation loader Home */
.spinner-loading {
  border: 20px solid #dddddd;
  border-radius: 50%;
  border-top-color: #99E2D0;
  border-bottom-color: #FF79DA;
  border-left-color: #e4d5f6;
  border-right-color: #e4d5f6;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
  -webkit-animation: spinner 3000ms 200ms linear both;
          animation: spinner 3000ms 200ms linear both;
}

.spinner-loading::before {
  content: "";
  border: 20px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  z-index: 10;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: .8;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: .8;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    opacity: 0;
  }
}

#content {
  overflow: hidden;
  -webkit-animation: content 0ms 3400ms both;
          animation: content 0ms 3400ms both;
}

@-webkit-keyframes content {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes content {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* bouton inactif */
.bouton-inactif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  background-color: rgba(5, 5, 5, 0.05);
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.6rem #dfdcdc;
          box-shadow: 0 0.2rem 0.6rem #dfdcdc;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

@media screen and (min-width: 768px) {
  .bouton-inactif {
    margin-bottom: 30px;
  }
}

.bouton-inactif i {
  width: 150%;
  opacity: 0.4;
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  .bouton-inactif i {
    font-size: 1.3em;
    margin-left: 60px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .bouton-inactif i {
    font-size: 1.5em;
    margin-left: 90px;
    margin-right: 50px;
  }
}

.bouton-inactif__list {
  background-color: #9356DC;
  color: white;
  font-size: 0.7em;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-top: 7px;
  position: absolute;
  left: -35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bouton-inactif__list {
    font-size: 1em;
    width: 35px;
    height: 35px;
    padding-top: 10px;
  }
}

section p {
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  section p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  section p {
    font-size: 1.5em;
  }
}

.bouton-inactif:hover {
  background-color: rgba(147, 86, 220, 0.5);
}

.bouton-inactif:hover .fa-mobile-alt::before {
  color: #6023a9;
}

.bouton-inactif:hover .fa-list::before {
  color: #6023a9;
}

.bouton-inactif:hover .fa-store::before {
  color: #6023a9;
}

/* Header pages des menus */
.logo {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 35px;
  }
}

.logo img {
  width: 40%;
}

.logo i {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  .logo i {
    font-size: 1.4em;
    top: 50px;
    left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .logo i {
    font-size: 1.6em;
    top: 65px;
    left: 50px;
  }
}

.img-header {
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .img-header {
    margin-top: 20px;
    max-height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .img-header {
    max-height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* Footer */
.footer {
  background-color: rgba(5, 5, 5, 0.8);
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
    padding-bottom: 30px;
  }
}

.footer__headings {
  font-family: 'shrikhand', cursive;
  font-size: 1.3em;
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .footer__headings {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .footer__headings {
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 2em;
  }
}

.footer__list--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__list--icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer p {
  margin-top: 0;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__wrapper p {
    margin-right: 50px;
    padding-bottom: 20px;
  }
}

.footer p {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .footer p::after {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: white;
    content: "";
    right: -25px;
  }
}

.contact {
  margin-top: 3px;
}

.fa-utensils {
  margin-right: 15px;
  color: white;
}

@media screen and (min-width: 768px) {
  .fa-utensils {
    font-size: 1.2em;
  }
}

.fa-hands-helping {
  margin-right: 10px;
  font-size: 0.9em;
  color: white;
}

@media screen and (min-width: 768px) {
  .fa-hands-helping {
    font-size: 1.1em;
  }
}

/* Main menus */
.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .restaurant {
    width: 90%;
    margin: 0 auto;
  }
}

.main {
  background-color: #f8f8f8;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  width: 100%;
  margin-top: -50px;
  position: relative;
}

.header-headings {
  font-family: 'shrikhand', cursive;
  font-size: 1.7em;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .header-headings {
    font-size: 2.8em;
  }
}

.menu {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.menu__heading {
  font-size: 1.1em;
  font-weight: 200;
  font-stretch: extra-condensed;
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .menu__heading {
    font-size: 2em;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.menu__heading::after {
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #99E2D0;
  content: "";
  bottom: -3.5px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .menu__heading::after {
    width: 70px;
    height: 5px;
    background-color: #9356DC;
    bottom: -5px;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  cursor: pointer;
  line-height: 0.5em;
  margin: 0;
  background-color: white;
  padding-left: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: loadingMenuItems both;
          animation: loadingMenuItems both;
}

@media screen and (min-width: 768px) {
  .menu__items {
    padding-left: 20px;
    margin-bottom: 25px;
  }
}

/* Animation défilement menu */
.menu__items:nth-of-type(1) {
  -webkit-animation: loadingMenuItems 2s both;
          animation: loadingMenuItems 2s both;
}

.menu__items:nth-of-type(2) {
  -webkit-animation: loadingMenuItems 2s 0.5s both;
          animation: loadingMenuItems 2s 0.5s both;
}

.menu__items:nth-of-type(3) {
  -webkit-animation: loadingMenuItems 2s 1s both;
          animation: loadingMenuItems 2s 1s both;
}

.menu__items:nth-of-type(4) {
  -webkit-animation: loadingMenuItems 2s 1.5s both;
          animation: loadingMenuItems 2s 1.5s both;
}

.menu__items:nth-of-type(5) {
  -webkit-animation: loadingMenuItems 2s 2s both;
          animation: loadingMenuItems 2s 2s both;
}

.menu__items:nth-of-type(6) {
  -webkit-animation: loadingMenuItems 2s 2.5s both;
          animation: loadingMenuItems 2s 2.5s both;
}

.menu__items:nth-of-type(7) {
  -webkit-animation: loadingMenuItems 2s 3s both;
          animation: loadingMenuItems 2s 3s both;
}

.menu__items:nth-of-type(8) {
  -webkit-animation: loadingMenuItems 2s 3.5s both;
          animation: loadingMenuItems 2s 3.5s both;
}

.menu__items:nth-of-type(9) {
  -webkit-animation: loadingMenuItems 2s 4s both;
          animation: loadingMenuItems 2s 4s both;
}

.menu__items:nth-of-type(10) {
  -webkit-animation: loadingMenuItems 2s 4.5s both;
          animation: loadingMenuItems 2s 4.5s both;
}

@-webkit-keyframes loadingMenuItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingMenuItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation confirmation menu */
.menu__items:active .anim-confirmation,
.menu__items:hover .anim-confirmation {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
}

.menu__items:active .plat__prix,
.menu__items:hover .plat__prix {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 1s;
  transition: 1s;
}

.anim-confirmation {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.dish-confirmation {
  width: 65px;
  height: 68px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}

@media screen and (min-width: 768px) {
  .dish-confirmation {
    width: 85px;
    height: 87px;
  }
}

.fa-check-circle {
  color: white;
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .fa-check-circle {
    top: 30px;
    right: 30px;
  }
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.plat__heading {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .plat__heading {
    font-size: 1.5em;
  }
}

.plat__heading--margin {
  padding-top: 8px;
}

.plat__heading--condensed {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .plat__heading--condensed {
    font-size: 1.5em;
  }
}

.plat__garniture {
  font-size: 0.9em;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .plat__garniture {
    font-size: 1.3em;
  }
}

.plat__garniture--interlignage {
  margin-top: -8px;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.plat__garniture--condensed {
  font-size: 0.85em;
}

@media screen and (min-width: 768px) {
  .plat__garniture--condensed {
    font-size: 1.3em;
  }
}

.plat__prix {
  margin-right: -47px;
}

@media screen and (min-width: 768px) {
  .plat__prix {
    font-size: 1.3em;
  }
}

/* header home*/
.logo-home {
  -webkit-box-shadow: 0 0.3rem 0.3rem #d1d0d0;
          box-shadow: 0 0.3rem 0.3rem #d1d0d0;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .logo-home {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-home {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.logo-home img {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .logo-home img {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .logo-home img {
    width: 30%;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: rgba(236, 236, 236, 0.8);
}

@media screen and (min-width: 768px) {
  .location {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .location {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .location {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.location i {
  margin-right: 20px;
  font-size: 0.8em;
}

.header {
  background-color: rgba(245, 245, 245, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 40px;
  }
}

.header__wrapper {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.header__headings-home {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  .header__headings-home {
    width: 85%;
    font-size: 2em;
    line-height: 0.8em;
  }
}

.header__headings-home--byline {
  width: 85%;
  margin: auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  line-height: 1.3em;
}

@media screen and (min-width: 768px) {
  .header__headings-home--byline {
    width: 90%;
    font-size: 1.4em;
    padding-bottom: 25px;
  }
}

/* section fonctionnement */
.fonctionnement {
  width: 90%;
  margin: 40px auto;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    margin-bottom: 80px;
    width: 75%;
  }
}

.fonctionnement .titre-section {
  font-size: 1.4em;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .fonctionnement .titre-section {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .fonctionnement .titre-section {
    font-size: 1.9em;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 65%;
  }
}

/* Main diaporama restaurant */
main {
  background-color: rgba(5, 5, 5, 0.05);
  padding-top: 30px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper .titre-section {
    padding-left: 15px;
    font-size: 1.7em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .wrapper .titre-section {
    font-size: 1.9em;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.diaporama-restaurant {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.2rem 0.4rem #dfdcdc;
          box-shadow: 0 0.2rem 0.4rem #dfdcdc;
  position: relative;
}

@media screen and (min-width: 768px) {
  .diaporama-restaurant {
    margin: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .diaporama-restaurant__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 30px;
  }
}

.diaporama-restaurant__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 8px;
  padding-left: 15px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

@media screen and (min-width: 1024px) {
  .diaporama-restaurant__legend {
    height: 75px;
  }
}

.diaporama-restaurant__headings {
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .diaporama-restaurant__headings {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .diaporama-restaurant__headings {
    font-size: 1.3em;
  }
}

.diaporama-restaurant__byline {
  font-size: 1em;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .diaporama-restaurant__byline {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1024px) {
  .diaporama-restaurant__byline {
    font-size: 1.1em;
  }
}

.diaporama-restaurant img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

@media screen and (min-width: 1024px) {
  .diaporama-restaurant img {
    height: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .diaporama-restaurant img {
    height: 260px;
  }
}

/* Pastille verte nouveau */
.nouveau {
  color: green;
  background-color: #99E2D0;
  font-size: 0.8em;
  padding: 8px 13px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 12px;
}

@media screen and (min-width: 1024px) {
  .nouveau {
    font-size: 1.2em;
    right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */