@mixin box-shadow {
    box-shadow: 0 .2rem .4rem rgb(223, 220, 220);
}

@mixin linear-gradient {
    background-image: linear-gradient(to bottom right, $primary, $secondary);
}

@mixin button-hover {
    cursor: pointer;
    transform: scale(1.2);
}