/* Animation loader Home */

.spinner-loading {
    border: 20px solid #dddddd;
    border-radius: 50%;
    border-top-color: $tertiary;    
    border-bottom-color: $secondary;
    border-left-color: lighten($primary, 30);
    border-right-color: lighten($primary, 30);
    position: absolute;
    top: 40%;
    left: 30%;
    width: 150px;
    height: 150px;
    z-index: 1;
    animation: spinner 3000ms 200ms linear both;
    }

    .spinner-loading::before {
        content:"";
        border: 20px solid transparent;
        position: absolute;
        top: 40%;
        left: 30%;
        width: 150px;
        height: 150px;
        z-index: 10;
    }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: .8;
    }
    100% {
        transform: rotate(359deg);
        opacity: 0;
    
    }
}

#content {
    overflow:hidden;
    animation: content 0ms 3400ms both;
}

@keyframes content {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform:translateX(0);
    }
}


/* header home*/

.logo-home {
    box-shadow: 0 .3rem .30rem rgb(209, 208, 208);
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 6px;
    @include tablet-only {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include desktop-only {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    & img {
        width: 50%;
        @include tablet-only {
            width: 40%;
        }
        @include desktop-only {
            width: 30%;
        }
    }
}

.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgba(236,236,236, .8);
    @include tablet-only {
        font-size: 1.2em;
    }

    @include tablet-only {
        padding-top: 10px;
        padding-bottom: 10px;
        @include desktop-only {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    & i {
        margin-right: 20px;
        font-size: 0.8em;
    }
}

.header {
    background-color: rgba(245, 245, 245, .5);
    padding-top: 15px;
    padding-bottom: 15px;
    @include tablet-only {
        padding-bottom: 40px;
    }
    
    &__wrapper {    
        text-align: center;
        margin: auto;
        margin-top: 25px;
}

    &__headings-home {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
        font-size: 1.5em;
        line-height: 1.2em;
        @include tablet-only {
            width: 85%;
            font-size: 2em;
            line-height: 0.8em;
        }
        &--byline {
            width: 85%;
            margin: auto;
            color: rgba(0, 0, 0, 0.5);
            font-size: 1.1em;
            line-height: 1.3em;
            @include tablet-only {
                width: 90%;
                font-size: 1.4em;
                padding-bottom: 25px;
            }
        }
    }
}

/* section fonctionnement */

.fonctionnement {
    width: 90%;
    margin: 40px auto;
    @include tablet-only {
        margin-bottom: 80px;
        width: 75%;
    }
}

.fonctionnement .titre-section {
    font-size: 1.4em;
    font-weight: 600;
    @include tablet-only {
        font-size: 1.7em;
        // margin-left: 80px;
        @include desktop-only {
            font-size: 1.9em;
            // margin-left: 100px;
            margin-top: 40px;
            margin-bottom: 25px;
            width: 65%;
        }
    }
}

.bouton-inactif:hover {
    background-color: rgba($color: $primary, $alpha: 0.5);
}

.bouton-inactif:hover .fa-mobile-alt::before {
    color: darken($primary, 20%);
    // height: 30px;
    // width: 30px;
}

.bouton-inactif:hover .fa-list::before {
    color: darken($primary, 20%);
}

.bouton-inactif:hover .fa-store::before {
    color: darken($primary, 20%);
}

.bouton-inactif {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 85%;
    margin: 30px auto;
    background-color: rgba(5, 5, 5, 0.05);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 .2rem .6rem rgb(223, 220, 220);
    position: relative;
    transition: .4s;

    @include tablet-only {
        // width: 75%;
        margin-bottom: 30px;
    }
    & i {
        width: 150%;
        opacity: 0.4;
        margin-left: 25px;
        @include tablet-only {
            font-size: 1.3em;
            margin-left: 60px;
            margin-right: 30px;
            @include desktop-only {
                font-size: 1.5em;
                margin-left: 90px;
                margin-right: 50px;
            }
        }
    }

    & p {
        margin-left: 25px;
        @include tablet-only {
            font-size: 1.3em;
            @include desktop-only {
                font-size: 1.5em;
            }
        }
    }

    &__list {
    background-color: #9356DC;
    color: white;
    font-size: 0.7em;
    width: 45px;
    height: 45px;
    padding: 9px 14px;
    border-radius: 50%;
    position: absolute;
    left: -35px;
    }
}

/* Main diaporama restaurant */

main {
    background-color: rgba(5, 5, 5, 0.05);
    padding-top: 30px;
    padding-bottom: 40px;
    @include tablet-only {
        padding-top: 40px;
        padding-bottom: 80px;;
    }
}

.wrapper .titre-section {
    @include tablet-only {
    padding-left: 15px;
    font-size: 1.7em;
        @include desktop-only {
        font-size: 1.9em;
        }
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.diaporama-restaurant {
    // width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 .2rem .4rem rgb(223, 220, 220);
    position: relative;
    @include tablet-only {
        margin: 0 15px;
    }
    &__container {
        @include tablet-only {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 30px;
    
        
            // @media screen and (min-width: 1200px) {
            //     display: flex;
            //     width: 100%;
            //     margin: auto;
            // }
        }
    }   
    
    &__legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 8px;
        padding-left: 15px;
        background-color: white;
        border-radius: 0 0 15px 15px;
        @include desktop-only {
            height: 75px;
        }
    }

    &__headings {
        @include tablet-only {
            font-size: 2em;
        }
    }
    
    &__byline {
        font-weight: 100;
        @include tablet-only {
            font-size: 1.6em;
        }
    }
    
    & img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;   
        @include tablet-only {
            height: 175px;  
        }
        @include desktop-only {
            height: 210px;
        } 
        @media screen and (min-width: 1200px){
            height: 240px;
        }     
    }
}


/* Pastille verte nouveau */

.nouveau {
    color: green;
    background-color: #99E2D0;
    font-size: 0.8em;
    padding: 8px 13px;
    border-radius: 5px;
    position:absolute;
    top: 0;
    right: 12px;
}