/* Footer */

.footer {
    background-color:rgba(5, 5, 5, 0.8);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;

    &__headings {
        font-family: 'shrikhand', cursive;
        font-size: 1.3em;
        color: white;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    &__list--icon {
        display: flex;
        align-items: baseline;
    }
    
    & p {
    margin-top: 0;
    // margin-bottom: 5px;
    color: white;
    }
}

.contact {
    margin-top: 3px;
}

.fa-utensils {
    margin-right: 15px;
    color: white;
}

.fa-hands-helping {
    margin-right: 10px;
    font-size: 0.9em;
    color: white;
}
        



   

