/* Header pages des menus */

.logo {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    @include tablet-only {
        padding-top: 35px;
    }
}

.logo img {
    width: 40%;    
}

.logo i {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 0.8em;
    @include tablet-only {
        font-size: 1.4em;
        top: 50px;
        left: 40px;
    }
    @include desktop-only {
        font-size: 1.6em;
        top: 65px;
        left: 50px;
    }

}
 
.img-header {
    width: 100%;
    z-index: 1;
    @include tablet-only {
        margin-top: 20px;
        max-height: 550px;
        object-fit: cover;
    }
    @include desktop-only {
        max-height: 700px;
        object-fit: cover;
    }
}