/* Header pages des menus */

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    @include tablet-only {
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        @include desktop-only {
            margin-left: 120px;
        }
    }
}

.logo img {
    width: 40%;    
}

.logo i {
    margin-left: 20px;
    margin-right: 75px;
    color: black;
    @include tablet-only {
        margin-right: 150px;
        font-size: 1.6em;        
    }

}

.img-header {
    width: 100%;
    margin-top: 20px;
    z-index: 1;
    @include tablet-only {
        margin-top: 30px;
        max-height: 550px;
        object-fit: cover;
    }
}