/* Main menus */

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    @include tablet-only {
        width: 90%;
        margin: 0 auto;
    }
}

.main {
    background-color: rgb(248, 248, 248);
    border-radius: 40px 40px 0 0;
    padding-top: 10px;
    width: 100%;
    margin-top: -50px;
    position: relative;
}

.header-headings {
    font-family: 'shrikhand', cursive;
    font-size: 1.7em;
    font-weight: 300;
    @include tablet-only {
        font-size: 2.5em;
    }
}

.menu {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    &__heading {
        font-size: 1.1em;
        font-weight: 200;
        font-stretch: extra-condensed;
        text-transform: uppercase;
        opacity: 0.6;
        padding-bottom: 5px;
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;
        &::after {
        position: absolute;
        height: 4px;
        width: 45px;
        background-color: $tertiary;
        content: "";
        bottom: -3.5px;
        left: 0;
        }
    }
}

.menu__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    line-height: 0.5em;
    margin: 0;
    background-color: white;
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 20px;
    @include box-shadow;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    animation: loadingMenuItems forward;
    @include tablet-only {
        padding-top: 18px;
        padding-left: 15px;
    }
}

/* Animation défilement menu */

.menu__items:nth-of-type(1) {
    animation: loadingMenuItems 2s both;
}

.menu__items:nth-of-type(2) {
    animation: loadingMenuItems 2s 0.5s both; 
}

.menu__items:nth-of-type(3) {
    animation: loadingMenuItems 2s 1s both; 
}

.menu__items:nth-of-type(4) {
    animation: loadingMenuItems 2s 1.5s both; 
}

.menu__items:nth-of-type(5) {
    animation: loadingMenuItems 2s 2s both; 
}

.menu__items:nth-of-type(6) {
    animation: loadingMenuItems 2s 2.5s both; 
}

.menu__items:nth-of-type(7) {
    animation: loadingMenuItems 2s 3s both; 
}

.menu__items:nth-of-type(8) {
    animation: loadingMenuItems 2s 3.5s both; 
}

.menu__items:nth-of-type(9) {
    animation: loadingMenuItems 2s 4s both; 
}

.menu__items:nth-of-type(10) {
    animation: loadingMenuItems 2s 4.5s both; 
}

@keyframes loadingMenuItems {
   
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation confirmation menu */

.menu__items:active .anim-confirmation,
.menu__items:hover .anim-confirmation {
    transform: translateX(0px);
    transition: 1s;
}

.menu__items:active .plat__prix,
.menu__items:hover .plat__prix {
    transform: translateX(-60px);
    transition: 1s;
}

.anim-confirmation {
    transform: translateX(65px);
}

.dish-confirmation {
    width: 65px;
    height: 68px;
    background-color: $tertiary;
    border-radius: 0 20px 20px 0;
    &--bigger {
        height: 90px;
    }
}

.fa-check-circle {
    color: white;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 1.6em;
    &--translate {
        top: 33px;
    }
}
