.plat {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    
    &__heading {
        font-size: 1.1em;
        font-weight: 500;
        margin-top: 14px;
        margin-bottom: 5px;
        @include tablet-only {
            font-size: 1.5em;
            
        }

        // &--margin {
        //     padding-top: 8px;
        // }
        &--condensed {
            font-size: 1em;
            @include tablet-only {
                font-size: 1.5em;
            }
        }
    }
    
    &__garniture {
        font-size: 0.9em;
        font-weight: 100;
        margin-top: 8px;
        margin-bottom: 12px;
        text-overflow: ellipsis;
        width: 260px;
        overflow: hidden;
        white-space: nowrap;
        @include tablet-only {
            font-size: 1.3em;
            
        }
    
            
        // &--interlignage {
        //     // margin-top: -8px;
        //     line-height: 0.7em;
        //     margin-bottom: 10px;
        // }  

        &--condensed {
            font-size: 0.85em;
            @include tablet-only {
                font-size: 1.3em;
            }
    }
}

    &__prix {
        margin-right: -47px;
        @include tablet-only {
            font-size: 1.3em;
        }
    }
}




