
/* bouton inactif */
.bouton-inactif {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto;
    background-color: rgba(5, 5, 5, 0.05);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 .2rem .6rem rgb(223, 220, 220);
    position: relative;
    transition: .4s;

    @include tablet-only {
        margin-bottom: 30px;
    }
    & i {
        width: 150%;
        opacity: 0.4;
        margin-left: 25px;
        @include tablet-only {
            font-size: 1.3em;
            margin-left: 60px;
            margin-right: 30px;
            @include desktop-only {
                font-size: 1.5em;
                margin-left: 90px;
                margin-right: 50px;
            }
        }
    }


    &__list {
    background-color: #9356DC;
    color: white;
    font-size: 0.7em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 7px;
    position: absolute;
    left: -35px;
    text-align: center;
    @include tablet-only {
        font-size: 1em;
        width: 35px;
        height: 35px;
        padding-top: 10px;
    }
    }
}

section p {
    margin-left: 25px;
    @include tablet-only {
        font-size: 1.3em;
        @include desktop-only {
            font-size: 1.5em;
        }
    }
}

.bouton-inactif:hover {
    background-color: rgba($color: $primary, $alpha: 0.5);
}

.bouton-inactif:hover .fa-mobile-alt::before {
    color: darken($primary, 20%);
}

.bouton-inactif:hover .fa-list::before {
    color: darken($primary, 20%);
}

.bouton-inactif:hover .fa-store::before {
    color: darken($primary, 20%);
}