/* Bouton */

.btn {
    @include linear-gradient;
    @include box-shadow;
    width: 185px;
    margin: 20px auto;
    border: 0.1px solid white;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 15px;
    text-align: center;
    @include tablet-only {
        width: 230px;
        @include desktop-only {
            width: 260px;
        }
    }
   
    &--bigger {
        width: 210px;
        @include tablet-only {
            width: 270px;
            @include desktop-only {
                width: 280px;
            }
        }
    }
    &:active, &:hover {
    cursor: pointer;
    box-shadow: 0 .6rem .4rem rgb(223, 220, 220);
    opacity: 0.7;
    }

    & p {
    text-align: center;
    color: white;
    font-size: 1em;
    @include tablet-only {
        font-size: 1.5em;
        }
    }  
}

.btn--bigger p {
    @include tablet-only {
    font-size: 1.3em;
    }
}


