/* Bouton */

.btn {
    @include linear-gradient;
    @include box-shadow;
    width: 50%;
    padding: 2px;
    margin: 20px auto;
    border: 0.1px solid white;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 15px;
        
    &--bigger {
        width: 55%
    }
        
    &:hover {
    cursor: pointer;
    box-shadow: 0 .6rem .4rem rgb(223, 220, 220);
    opacity: 0.7;
    }

    & p {
    text-align: center;
    color: white;
    font-size: 1em;
    }  
}

