/* Heart */

.fa-heart {
    margin-right: 15px;
    font-size: 1.4em;
    font-weight: 200;
    cursor: pointer;
    transition: transform 1.5s;
    
    &--bigger {
        margin-right: 20px;
        font-size: 1.5em;    
        @include tablet-only {
            font-size: 2.2em;
        }
    }

    .fa-heart::before {
        transition: transform 1.5s;
    }

    .fa-heart:hover::before {
        color: red;
    }
    
    // &:hover,
    // &:active {
    //             transform: scale(1.3);
    //     color: $primary;
    // }
}



