/* Heart */

.heart {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 1s;
    @include desktop-only {
        width: 30px;
        height: 30px;
    }
    &--bigger {
        width: 27px;
        height: 27px;
        margin-right: 10px;
        @include tablet-only {
        width: 38px;
        height: 38px;
        }
        @include desktop-only {
            width: 45px;
            height: 45px;
        }
    }
}
  
.heart path {
    fill: transparent;
    stroke: #000;
    stroke-width: 6px;
    transition: 1s;
}
  
.heart:active {
    transform: scale(1.2);
}
  
.heart:active path {
    fill: $primary;
}



