@media screen and (min-width: 1024px) {

    .francaise {
        display: contents;
    }

    .delice-gout {
        display: contents;
    }

    .note-enchantée {
        display: contents;
    }

    .palette-gout {
        display: contents;
    }
}